<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO List</title>
  <script src="https://kit.fontawesome.com/2bc32b9686.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <header>
      <div id="logo">To do list</div>
    </header>
    <main>
      <div id="list">
        <ul>
          <li v-for="(elemento, index) in todolist" @click="taskDone(index)">
            <span :class="checkDone(index)">{{elemento.text}}</span>
            <i class="fas fa-times" @click="taskDelete(index)"></i>
          </li>
        </ul>
      </div>
      <div id="add-todo">
        <input type="text" placeholder="Aggiungi todo" v-model="inputValue" @keyup.enter="addTask()">
        <input type="submit" value="Invia" @click="addTask()">
      </div>
    </main>
  </div>
  <script src="main.js"></script>
</body>
</html>